apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${APP_NAME}
spec:
  selector:
    matchLabels:
      app: ${APP_NAME}
  replicas: 1
  template:
    metadata:
      labels:
        app: ${APP_NAME}
    spec:
      containers:
        - image: ${IMAGE}
          imagePullPolicy: Always
          name: ${APP_NAME}
          ports:
            - containerPort: ${APP_PORT}
              name: ${APP_PORT}tcp
              protocol: TCP
          env:
            - name: LLAMA_URL
              # Això probablement ja no ho faràs servir si carregues el GGUF localment
              value: "http://llama-service.local:8080"
            - name: MODEL_PATH # Variable perquè el teu codi sàpiga on és el model
              value: "/models/nom-del-teu-model.gguf" # <-- Canvia el nom del fitxer
            - name: DOCS_DIR # Directori per als documents del RAG
              value: "/docs"
            - name: RAG_DB_PATH # Ruta completa per a la base de dades del RAG
              value: "/rag/rag.db"
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: false
            runAsNonRoot: false
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /auth
              name: auth
            - mountPath: /models
              name: models-volume
            - mountPath: /docs
              name: rag-docs-volume
            - mountPath: /rag
              name: rag-db-volume
      dnsPolicy: ClusterFirst
      imagePullSecrets:
        - name: registry-wattega-auth
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - name: auth
          secret:
            defaultMode: 420
            secretName: registry-auth-secret
        - name: models-volume
          hostPath:
            path: /srv/llm-models
            type: DirectoryOrCreate
        - name: rag-docs-volume
          hostPath:
            path: /srv/llm-itgreen/docs
            type: DirectoryOrCreate
        - name: rag-db-volume
          hostPath:
            path: /srv/llm-itgreen/rag
            type: DirectoryOrCreate