# AQUEST ÉS L'SCRIPT SENCER AMB EL CANVI DE LA VARIABLE D'ENTORN
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${APP_NAME}
spec:
  selector:
    matchLabels:
      app: ${APP_NAME}
  replicas: 1
  template:
    metadata:
      labels:
        app: ${APP_NAME}
    spec:
      # Opcionalment pots mantenir l'initContainer que et vaig donar abans
      # per més seguretat, però amb el readinessProbe d'Ollama ja hauria de ser estable.
      
      containers:
        - image: ${IMAGE}
          imagePullPolicy: Always
          name: ${APP_NAME}
          ports:
            - containerPort: ${APP_PORT}
              name: ${APP_PORT}tcp
              protocol: TCP
          env:
            - name: OLLAMA_HOST
              # CANVI CRÍTIC: Apunta al nou servei dedicat!
              value: "http://ollama-chainlit-service:11434"    
            - name: MODEL_NAME
              value: "mistral"
            - name: REQ_TIMEOUT
              value: "120"
            - name: DOCS_DIR
              value: "/docs"
            - name: RAG_DB_PATH
              value: "/rag/rag.db"
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: false
            runAsNonRoot: false
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /auth
              name: auth
            - mountPath: /rag
              name: rag-db
      dnsPolicy: ClusterFirst
      imagePullSecrets:
        - name: registry-wattega-auth
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - name: auth
          secret:
            defaultMode: 420
            secretName: registry-auth-secret
        - name: rag-db
          emptyDir: {}    # canvia-ho a PVC si vols persistència
