/* Per defecte (en tema clar), amaguem el logo per al tema fosc */
.element-logo_light {
    display: none !important;
}

/* Quan el tema fosc està actiu ([data-theme='dark']) */
[data-theme='dark'] {
    /* Amaguem el logo per al tema clar */
    .element-logo_dark {
        display: none !important;
    }

    /* Mostrem el logo per al tema fosc */
    .element-logo_light {
        /* Usem 'inline-block' perquè és el que Chainlit fa servir per a imatges 'inline' */
        display: inline-block !important; 
    }
}