/*
  ** Lògica del CSS **
  1. Per defecte (tema clar), mostrem el logo fosc i amaguem el clar.
  2. Quan el tema canvia a fosc ([data-theme="dark"]), invertim la visibilitat.
*/

/* El logo per al TEMA FOSC (el que és de color clar) està amagat per defecte */
.element-logo_light {
  display: none !important;
}

/* El logo per al TEMA CLAR (el que és de color fosc) està visible per defecte */
.element-logo_dark {
  display: inline-block !important;
}

/* Quan el TEMA FOSC està actiu */
[data-theme="dark"] {
  /* Amaguem el logo del tema clar */
  .element-logo_dark {
    display: none !important;
  }

  /* I mostrem el logo del tema fosc */
  .element-logo_light {
    display: inline-block !important;
  }
}